
body {

background-color: #cfcfcf ;
margin: 0;


}

.nombreP {

color: rgb(0, 0, 0);
margin: 15px 20px 15px 10px;
padding: 0rem 0rem;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

header {

display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem 0rem;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
background: linear-gradient(90deg, #fff , #8a3cca, #fff);

}

nav a {

    
    text-decoration: none;
    color: var(--black);
    margin: 0 1rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;
  font-size: 30px;

}

nav a:hover {

    color: var(--blue-primary);

}

.infoP {
font-size: 70px;
text-align: center;
margin: 15px 20px 15px 10px;
padding: 1rem 2rem;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

.VideoP {

    display: inline-block;
    width: 100%;
    height: auto;

}

.imagen1 {

    float: left;         
  margin-left: 30px;   
  margin-top: 20px;    
  margin-right: 20px;  
  border-radius: 10px;
  width: 30rem;

}

.Descripcion1 {

    
    font-size: 30px;
    text-align: justify;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 500;
  font-style: normal;

}

.Descripcion2 {

    font-size: 30px;
    text-align: center;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

.imagen2 {

   float: right;         
  margin-left: 30px;   
  margin-top: 20px;    
  margin-right: 20px;  
  border-radius: 10px;
  width: 30rem;

}

.descrip3{

    font-size: 30px;
    text-align: center;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

.infoservicios {

    font-size: 70px;
    text-align: right;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

.info-ubi {

    font-size: 70px;
    text-align: left;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

.maps {

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.info-contacto {

    font-size: 70px;
    text-align: left;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

.img-contacto {

    float: right;         
  margin-left: 30px;   
  margin-top: 20px;    
  margin-right: 20px;  
  border-radius: 10px;
  width: 30rem;

}

.descrip4{

    font-size: 30px;
    text-align: left;
    margin: 15px 20px 15px 10px;
    padding: 1rem 2rem;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
  font-style: normal;

}

.footer {

    background-color: #8a3cca ;
    text-align: center;
    padding: 1rem 0rem;
    color: white;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-weight: 500;
  font-style: normal;

}

.titulo-comentario {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.contenedor-comentario {
    background: #3d0c82;
    padding: 25px;
    border-radius: 18px;
    width: 50%;              
    margin: auto;
}

.form-comentario {
    background: white;
    padding: 25px;           
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comentario-card {
    background: linear-gradient(135deg, #ffffff, #f3e8ff);
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    border: 1px solid #c9a8ff;
    box-shadow: 0 5px 12px rgba(0,0,0,0.12);
}

.comentario-card h3 {
    color: #3d0c82;
    font-size: 22px;
    margin: 0;
}

.comentario-card .usuario {
    color: #6c1bc4;
    font-weight: bold;
}

.comentario-card small {
    color: gray;
}

.acciones {
    margin-top: 8px;
}

.btn-eliminar {
    color: red;
    font-weight: bold;
    margin-right: 10px;
    font-size: 14px;
}

.btn-editar {
    background: #4a0e99;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
}

.editar-box {
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
}

.form-comentario label {
    font-size: 17px;        
    font-weight: 700;
    color: black;
}

.form-comentario input,
.form-comentario textarea {
    background: #4a0e99;
    border: none;
    border-radius: 8px;      
    padding: 10px;           
    color: white;
    font-size: 15px;         
}

.form-comentario textarea {
    height: 80px;            
}

.btn-comentario {
    background: #4a0e99;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    width: 150px;           
    align-self: center;
    font-weight: 700;
    font-size: 15px;
}